.timeline-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.timeline-title {
  font-size: 28px;
  font-weight: 600;
  color: #5a3e2b;
  margin-bottom: 50px;
}

.timeline {
  position: relative;
  width: 400px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #5a3e2b;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  margin: 35px 0;
  display: flex;
  justify-content: center;
}

.timeline-dot {
  width: 10px;
  height: 10px;
  background-color: #5a3e2b;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;
}

.timeline-content {
  width: 160px;
  font-size: 12px;
  color: #2f2f2f;
  line-height: 1.4;
}

.timeline-content.left {
  text-align: right;
  margin-right: 200px;
}

.timeline-content.right {
  text-align: left;
  margin-left: 200px;
}

.year {
  font-weight: 600;
  font-size: 12px;
}
